@import "V2colorFont";

.category-wrapper{
  display: flex;
  padding: 50px 0 0 50px;
  .application-hint{
    margin-top: 70px;
  }
}
.addCategory{
  width: 500px;
  &__form{
    display: flex;
    &--input{
      margin-right: 6px;
      height: 40px;
      color: $font-color-2;
      input{
        background-color: $bg-color-txtbox;
        border: solid 1px #DEE8EF;
        padding: 10px 16px;
        font-size: 16px;
        color: $font-color-2;
        border-radius: 3px;
        width: 270px;
        height: auto;
      }
    }
  }
  &__added{
    &--category{
      margin: 30px 0;
    }
  }
}



.actionBtn--blue--category{
  display: flex;
  height:  26px;
  width: 26px;
  cursor: pointer;
  padding: 0 5px;
  margin: 7px;
  background-color: $bg-color-4;
  color: $font-color-3;
  border-radius: 13px;
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.4);
  overflow: hidden; /*はみ出る部分を隠しておきます*/
  position: relative;
  transition: all .3s;
  &:hover{
    width: 135px;
  }
  &::before{
    display: block;
    content: "Add this one.";
    font-size: 17px;
    width: 110px;
    height: 26px;
    border-radius: 25px;
    line-height: 26px;
    position: absolute;
    left: 15px; /*左のほうにずらして隠しておきます*/
    margin: 0 5px;
    background: $bg-color-4;
    transition: all 0.4s;
    opacity: 0;
  }
  &:hover::before{
    left: 15px;
    opacity: 1;
  }
  &--logo{
    width: 16px;
    height: auto;
    margin: 5px 0;
    img{
      width: 16px;
      height: 16px;
    }
  }
}


.category-btn-selectbox{
  display: inline-block;
  line-height: 40px;
  span{
    cursor: default;
  }
  label {
    cursor: pointer;
    margin: 5px 5px 5px 0;
    border: 2px solid $bg-color-4;
    color: $font-color-1;
    background-color: #F1F9FF;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    border-radius: 5px;
    &::selection{
      background-color: transparent;
    }
  }
  input[type="checkbox"] {
    display: none;
  } 
  input[type=checkbox]:checked + label {
    background-color: #579BD5;
    color: $font-color-3;
  }
}

.delete__btn--category{
  background: $bg-color-3;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  height: 26px;
  padding: 0 10px;
  display: flex;
  &--logo{
    height: 26px;
    width: auto;
    img{
      height: 18px;
      width: 18px;
      margin: 4px; 
    }
  }
  &--txt{
    margin-left: 5px;
    height: 26px;
    span{
      color: $font-color-3;
      line-height: 26px;
    }
  }
}
