@charset "UTF-8";

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #F4FAFF;
  height: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template: "nav header" 60px "nav main  " 1fr/255px 1fr;
}

body * {
  box-sizing: inherit;
}

img {
  vertical-align: top;
}

.btn-span {
  font-size: 15px;
  cursor: pointer;
}

.txt-span {
  font-size: 15px;
}

input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

header {
  grid-area: header;
}

header .headerCont {
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

header .headerCont__search input {
  width: 420px;
  height: 40px;
  outline: 0;
  border-radius: 10px;
  border: solid 0px;
  box-shadow: 0px 3px 10px 0px rgba(73, 142, 199, 0.1);
  padding: 12px;
  font-size: 15px;
  color: #61819D;
}

header .headerCont__search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

header .headerCont__signOut {
  height: 40px;
  padding: 0 20px;
  background-color: #0071D0;
  border-radius: 10px;
  line-height: 40px;
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.4);
  cursor: pointer;
}

header .headerCont__signOut span {
  color: #FFFFFF;
}

.gNav {
  grid-area: nav;
  margin: 15px 0 15px 15px;
  background-color: #0071D0;
  border-radius: 15px;
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.6);
}

.gNav__serviceName {
  height: 60px;
}

.gNav__serviceName--img {
  width: 240px;
  height: 60px;
}

.gNav__serviceName--img img {
  width: 147px;
  height: auto;
  margin: 13px 53px 9px 40px;
}

.gNav__list {
  width: 240px;
}

.gNav__list__menu {
  width: 220px;
  height: 30px;
  margin: 0 5px;
  padding: 0 10px;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
}

.gNav__list__menu:hover {
  background-color: #004681;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 1, 0.25);
}

.gNav__list__menu--logo {
  width: 16px;
  margin: 7px 0;
}

.gNav__list__menu--logo img {
  width: 16px;
  height: 16px;
}

.gNav__list__menu--name {
  line-height: 30px;
  margin-left: 8px;
}

.gNav__list__menu--name span {
  color: #FFFFFF;
}

.gNav__list__menu--active {
  background-color: #004681;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 1, 0.25);
  margin-bottom: 5px;
  margin-top: 5px;
}

.gNav__list__menu--sub .gNav__list__menu--logo {
  opacity: 0;
}

.gNav__list--add {
  width: 170px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  background-color: #FFF;
  margin: 6px auto;
  padding: 0 18px;
  border-radius: 15px;
  cursor: pointer;
}

.gNav__list--add:hover {
  background-color: #7FC4FC;
}

.gNav__list--add:hover .gNav__list--add--name span {
  color: #FFFFFF;
}

.gNav__list--add:hover .add-logo-hover {
  display: block;
}

.gNav__list--add:hover .add-logo-normal {
  display: none;
}

.gNav__list--add--logo {
  width: 16px;
  margin: 7px 0;
}

.gNav__list--add--logo img {
  width: 16px;
  height: 16px;
}

.gNav__list--add--logo .add-logo-hover {
  display: none;
}

.gNav__list--add--name {
  line-height: 30px;
  margin-left: 5px;
}

.gNav__list--add--name span {
  color: #0071D0;
}

main {
  grid-area: main;
  overflow: hidden;
}

.category-wrapper {
  display: flex;
  padding: 50px 0 0 50px;
}

.category-wrapper .application-hint {
  margin-top: 70px;
}

.addCategory {
  width: 500px;
}

.addCategory__form {
  display: flex;
}

.addCategory__form--input {
  margin-right: 6px;
  height: 40px;
  color: #61819D;
}

.addCategory__form--input input {
  background-color: #E4EEF5;
  border: solid 1px #DEE8EF;
  padding: 10px 16px;
  font-size: 16px;
  color: #61819D;
  border-radius: 3px;
  width: 270px;
  height: auto;
}

.addCategory__added--category {
  margin: 30px 0;
}

.addCategory__added--delete {
  display: inline-block;
}

.actionBtn--blue--category {
  display: flex;
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding: 0 5px;
  margin: 7px;
  background-color: #0071D0;
  color: #FFFFFF;
  border-radius: 13px;
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.4);
  overflow: hidden;
  /*はみ出る部分を隠しておきます*/
  position: relative;
  transition: all 0.3s;
}

.actionBtn--blue--category:hover {
  width: 135px;
}

.actionBtn--blue--category::before {
  display: block;
  content: "Add this one.";
  font-size: 17px;
  width: 110px;
  height: 26px;
  border-radius: 25px;
  line-height: 26px;
  position: absolute;
  left: 15px;
  /*左のほうにずらして隠しておきます*/
  margin: 0 5px;
  background: #0071D0;
  transition: all 0.4s;
  opacity: 0;
}

.actionBtn--blue--category:hover::before {
  left: 15px;
  opacity: 1;
}

.actionBtn--blue--category--logo {
  width: 16px;
  height: auto;
  margin: 5px 0;
}

.actionBtn--blue--category--logo img {
  width: 16px;
  height: 16px;
}

.actionBtn--blue--category--disabled {
  display: flex;
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding: 0 5px;
  margin: 7px;
  background-color: #0071D0;
  color: #FFFFFF;
  opacity: 0.3;
  border-radius: 13px;
  overflow: hidden;
  /*はみ出る部分を隠しておきます*/
  position: relative;
  transition: all 0.3s;
}

.actionBtn--blue--category--disabled::before {
  display: block;
  content: "Add this one.";
  font-size: 17px;
  width: 110px;
  height: 26px;
  border-radius: 25px;
  line-height: 26px;
  position: absolute;
  left: 15px;
  /*左のほうにずらして隠しておきます*/
  margin: 0 5px;
  background: #0071D0;
  transition: all 0.4s;
  opacity: 0;
}

.actionBtn--blue--category--disabled--logo {
  width: 16px;
  height: auto;
  margin: 5px 0;
}

.actionBtn--blue--category--disabled--logo img {
  width: 16px;
  height: 16px;
}

.category-btn-selectbox {
  display: inline-block;
  line-height: 40px;
}

.category-btn-selectbox span {
  cursor: default;
}

.category-btn-selectbox label {
  cursor: pointer;
  margin: 5px 5px 5px 0;
  border: 2px solid #0071D0;
  color: #0071D0;
  background-color: #F1F9FF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border-radius: 5px;
}

.category-btn-selectbox label::-moz-selection {
  background-color: transparent;
}

.category-btn-selectbox label::selection {
  background-color: transparent;
}

.category-btn-selectbox input[type=checkbox] {
  display: none;
}

.category-btn-selectbox input[type=checkbox]:checked + label {
  background-color: #579BD5;
  color: #FFFFFF;
}

.delete__btn--category {
  background: #61819D;
  border-radius: 13px;
  height: 26px;
  padding: 0 10px;
  display: flex;
  transition: 0.2s;
  opacity: 0.5;
}

.delete__btn--category--logo {
  height: 26px;
  width: auto;
}

.delete__btn--category--logo img {
  height: 18px;
  width: 18px;
  margin: 4px;
}

.delete__btn--category--txt {
  margin-left: 5px;
  height: 26px;
}

.delete__btn--category--txt span {
  color: #FFFFFF;
  line-height: 26px;
}

.delete__btn--category input {
  display: none;
}

.delete__btn--category--checked {
  opacity: 0.9;
}

.delete__btn--category--checked:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.attention-message {
  height: 20px;
}

.attention-message span {
  color: #d63232;
  font-size: 14px;
}

.user__hint {
  margin-left: 50px;
  max-width: 460px;
}

.user__hint--ttl {
  display: flex;
  height: 26px;
}

.user__hint--ttl span {
  font-size: 12px;
  margin-left: 10px;
  height: 26px;
  line-height: 26px;
  cursor: default;
  color: #61819D;
  font-weight: bold;
}

.user__hint--ttl .hintImg {
  width: 18px;
  height: 18px;
}

.user__hint--ttl .hintImg img {
  width: 18px;
  height: 18px;
  margin: 4px 0;
}

.user__hint--msg ul {
  margin: 20px 0;
  padding-left: 20px;
}

.user__hint--msg ul li {
  margin-bottom: 40px;
  font-size: 14px;
  color: #61819D;
}

.managementWrapper {
  padding-left: 50px;
  margin-top: 20px;
}

.managementWrapper .mainHead {
  display: flex;
  align-items: flex-end;
  height: 38px;
}

.managementWrapper .mainHead__switch {
  display: flex;
}

.managementWrapper .mainHead__switch__btn {
  height: 30px;
  width: auto;
  background-color: #7FC4FC;
  cursor: pointer;
}

.managementWrapper .mainHead__switch__btn:hover {
  background-color: #004681;
}

.managementWrapper .mainHead__switch__btn span {
  color: #FFFFFF;
  line-height: 30px;
}

.managementWrapper .mainHead__switch__btn--class {
  border-radius: 15px 0 0 0;
  padding: 0 15px 0 20px;
}

.managementWrapper .mainHead__switch__btn--prof {
  border-radius: 0 15px 0 0;
  padding: 0 20px 0 15px;
}

.managementWrapper .mainHead__switch__btn--active {
  background-color: #004681;
}

.managementWrapper .mainHead__opt {
  margin-left: 42px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}

.managementWrapper .mainHead__opt--search input {
  width: 200px;
  height: 20px;
  outline: 0;
  border: solid 0px;
  font-size: 15px;
  color: #61819D;
  border-bottom: solid 1px #E7EEF4;
  background-color: #F4FAFF;
  padding: 0;
}

.managementWrapper .mainHead__opt--search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.managementWrapper .mainHead__opt--filter {
  display: flex;
  height: 24px;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 3px;
  margin-right: 100px;
}

.managementWrapper .mainHead__opt--filter--name {
  height: 24px;
  margin-right: 10px;
}

.managementWrapper .mainHead__opt--filter--name span {
  color: #61819D;
  line-height: 24px;
}

.managementWrapper .mainHead__opt--filter .filter-logo {
  width: atuo;
  height: 8px;
  margin: 8px 0;
}

.managementWrapper .mainHead__opt--filter .filter-logo img {
  width: auto;
  height: 8px;
}

.managementWrapper .mainHead__opt--filter .filter-logo-img-active {
  transform: rotateX(180deg);
}

.managementWrapper .mainHead__opt--tmp {
  display: flex;
  height: 24px;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 3px;
}

.managementWrapper .mainHead__opt--tmp--logo {
  width: 18px;
  height: auto;
  margin: 3px 0;
}

.managementWrapper .mainHead__opt--tmp--logo img {
  width: 18px;
  height: 18px;
}

.managementWrapper .mainHead__opt--tmp--name {
  height: 24px;
  margin-left: 10px;
}

.managementWrapper .mainHead__opt--tmp--name span {
  color: #61819D;
  line-height: 24px;
}

.managementWrapper .mainHead__opt--add {
  display: flex;
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 3px 4px 5px;
  background-color: #0071D0;
  color: #FFFFFF;
  border-radius: 13px;
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.4);
  overflow: hidden;
  /*はみ出る部分を隠しておきます*/
  position: relative;
  transition: all 0.3s;
}

.managementWrapper .mainHead__opt--add:hover {
  width: 140px;
}

.managementWrapper .mainHead__opt--add::before {
  display: block;
  content: "New Addition";
  font-size: 16px;
  width: 121px;
  height: 26px;
  border-radius: 25px;
  line-height: 26px;
  position: absolute;
  left: 16px;
  /*左のほうにずらして隠しておきます*/
  margin: 0 5px;
  background: #0071D0;
  transition: all 0.4s;
  opacity: 0;
}

.managementWrapper .mainHead__opt--add:hover::before {
  left: 20px;
  opacity: 1;
}

.managementWrapper .mainHead__opt--add--logo {
  width: 16px;
  height: auto;
  margin: 5px 0;
}

.managementWrapper .mainHead__opt--add--logo img {
  width: 16px;
  height: 16px;
}

.managementWrapper .mgmtList__head {
  width: 965px;
  padding: 7px 0 7px 26px;
  border-radius: 0 10px 0 0;
  background-color: #E2F2FF;
}

.managementWrapper .mgmtList__head__menu {
  display: flex;
}

.managementWrapper .mgmtList__head__menu--child {
  padding: 6px 16px;
}

.managementWrapper .mgmtList__head__menu--child span {
  display: inline-block;
  color: #61819D;
}

.managementWrapper .mgmtList__head__menu--id span {
  width: 65px;
}

.managementWrapper .mgmtList__head__menu--subject span {
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__head__menu--mail span {
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__head__menu--instructor span {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__head__menu--category span {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__head__menu--action {
  text-align: center;
}

.managementWrapper .mgmtList__head__menu--action span {
  width: 69px;
}

.managementWrapper .mgmtList__main {
  width: 965px;
  overflow-y: scroll;
  height: calc(100vh - 170px);
}

.managementWrapper .mgmtList__main__list {
  display: grid;
  cursor: pointer;
  grid-template: "checkBox list  " "detail   detail" 1fr/auto 1fr;
  border-bottom: solid 1px #E7EEF4;
}

.managementWrapper .mgmtList__main__list--check {
  grid-area: checkBox;
  padding: 10px 0 9px 8px;
}

.managementWrapper .mgmtList__main__list--check input {
  margin: 0;
  width: 18px;
  height: 18px;
  margin: 9px 0;
  outline: #004681;
}

.managementWrapper .mgmtList__main__list--child {
  grid-area: list;
  padding: 10px 0 9px 0;
  display: flex;
  z-index: 1000;
}

.managementWrapper .mgmtList__main__list--child--cont {
  padding: 6px 16px;
}

.managementWrapper .mgmtList__main__list--child--cont span {
  display: inline-block;
  color: #61819D;
}

.managementWrapper .mgmtList__main__list--child--id span {
  width: 65px;
}

.managementWrapper .mgmtList__main__list--child--subject span {
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__main__list--child--mail span {
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__main__list--child--instructor span {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__main__list--child--category span {
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.managementWrapper .mgmtList__main__list--child--action {
  text-align: center;
  width: 101px;
  padding: 4px 0;
}

.managementWrapper .mgmtList__main__list--child--action .actionBtn {
  width: 28px;
  height: 28px;
  background-color: #61819D;
  border-radius: 14px;
  text-align: center;
  transition: all 0.3s;
  overflow: hidden;
  margin: 0 auto;
}

.managementWrapper .mgmtList__main__list--child--action .actionBtn__btn {
  line-height: 33px;
  height: 28px;
  text-align: center;
  display: flex;
  position: relative;
}

.managementWrapper .mgmtList__main__list--child--action .actionBtn__btn--display .mgmt-displayBtn {
  height: 17px;
  width: auto;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
}

.managementWrapper .mgmtList__main__list--child--action .actionBtn__btn .mgmt-archiveBtn,
.managementWrapper .mgmtList__main__list--child--action .actionBtn__btn .mgmt-editBtn,
.managementWrapper .mgmtList__main__list--child--action .actionBtn__btn .mgmt-deleteBtn {
  height: 18px;
  width: auto;
  opacity: 0;
  transition: 0.3s;
  padding: 0 8px;
}

.managementWrapper .mgmtList__main__list--detail {
  grid-area: detail;
  display: none;
  background-color: #F4FAFF;
  cursor: default;
  padding: 0 0 15px 30px;
  display: flex;
}

.managementWrapper .mgmtList__main__list--detail--tmp {
  border-left: solid 2px #004681;
  padding: 0 10px;
  margin-top: 30px;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-ttl span {
  font-size: 14px;
  color: #61819D;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-show {
  margin-top: 10px;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-show span {
  color: #0071D0;
  font-size: 16px;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-show .professor-image {
  width: 181px;
  height: 136px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 4px;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-show .category-span {
  cursor: pointer;
  margin: 5px 5px 5px 0;
  border: 2px solid #0071D0;
  color: #0071D0;
  background-color: #F1F9FF;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  border-radius: 5px;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-show .inCharge {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.managementWrapper .mgmtList__main__list--detail--tmp .list-detail-show .inCharge:hover {
  color: #004681;
}

.managementWrapper .mgmtList__main__list--detail--graphTmp {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin-top: 20px;
}

.managementWrapper .mgmtList__main__list--detail--left {
  width: 400px;
}

.managementWrapper .mgmtList__main__list--detail--right {
  margin-left: 50px;
}

.managementWrapper .mgmtList__main__list--detail--right .flex {
  display: flex;
}

.managementWrapper .mgmtList__main__list--detail--right .flex .mgmtList__main__list--detail--tmp {
  margin-right: 30px;
}

.mgmtList__main__list--js {
  position: sticky;
  top: 0;
}

.mgmtList__main__list--bgchanged {
  background-color: #E2F2FF;
}

.mgmtList--underSpace {
  height: 100px;
}

.addNewForm {
  right: -900px;
}

.updateForm,
.addNewForm {
  position: fixed;
  top: 134px;
  width: 900px;
  height: 584px;
  border-radius: 15px;
  filter: drop-shadow(-2px 3px 10px rgba(97, 129, 157, 0.3));
  z-index: 10000;
  transition: 0.5s;
  /* &--professor{
    overflow-y: scroll;
    .updateForm__edit--tmp--category{
      height: auto;
      max-width: 435px;
      overflow: visible;
      overflow-y: visible;
    }
  } */
}

.updateForm__head,
.addNewForm__head {
  height: 34px;
  display: flex;
}

.updateForm__head__ttl,
.addNewForm__head__ttl {
  display: flex;
  height: 34px;
  width: 300px;
  border-radius: 15px 15px 0 0;
  background-color: #004681;
  justify-content: center;
}

.updateForm__head__ttl--logo,
.addNewForm__head__ttl--logo {
  height: 34px;
  width: 18px;
  padding: 8px 0;
}

.updateForm__head__ttl--logo img,
.addNewForm__head__ttl--logo img {
  height: 18px;
  width: 18px;
}

.updateForm__head__ttl--ttl,
.addNewForm__head__ttl--ttl {
  height: 34px;
  margin-left: 10px;
}

.updateForm__head__ttl--ttl .txt-span,
.addNewForm__head__ttl--ttl .txt-span {
  color: #FFFFFF;
  line-height: 34px;
  font-size: 16px;
}

.updateForm__wrapper,
.addNewForm__wrapper {
  height: 550px;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 0 0 0 15px;
  padding: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.updateForm__edit--flex,
.addNewForm__edit--flex {
  display: flex;
}

.updateForm__edit--flex--left,
.addNewForm__edit--flex--left {
  margin-right: 30px;
}

.updateForm__edit--tmp,
.addNewForm__edit--tmp {
  margin-bottom: 20px;
  max-width: 435px;
}

.updateForm__edit--tmp label,
.addNewForm__edit--tmp label {
  display: block;
  color: #61819D;
  font-size: 14px;
  margin-bottom: 5px;
}

.updateForm__edit--tmp input::-moz-placeholder, .addNewForm__edit--tmp input::-moz-placeholder {
  color: #61819D;
  opacity: 0.8;
  font-size: 15px;
}

.updateForm__edit--tmp input:-ms-input-placeholder, .addNewForm__edit--tmp input:-ms-input-placeholder {
  color: #61819D;
  opacity: 0.8;
  font-size: 15px;
}

.updateForm__edit--tmp input::placeholder,
.addNewForm__edit--tmp input::placeholder {
  color: #61819D;
  opacity: 0.8;
  font-size: 15px;
}

.updateForm__edit--tmp .updateForm__edit--input,
.updateForm__edit--tmp .addNewForm__edit--input,
.addNewForm__edit--tmp .updateForm__edit--input,
.addNewForm__edit--tmp .addNewForm__edit--input {
  display: block;
  background-color: #E4EEF5;
  border: solid 1px #DEE8EF;
  padding: 10px 16px;
  font-size: 16px;
  color: #61819D;
  border-radius: 3px;
  width: 270px;
  height: auto;
}

.updateForm__edit--tmp--category,
.addNewForm__edit--tmp--category {
  max-width: 435px;
}

.updateForm__edit--tmp .prof-image,
.addNewForm__edit--tmp .prof-image {
  display: none;
}

.updateForm__edit--tmp .profImg-preview,
.addNewForm__edit--tmp .profImg-preview {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.updateForm__edit--tmp .edit-uploadImg-btn,
.addNewForm__edit--tmp .edit-uploadImg-btn {
  width: 181px;
  height: auto;
  padding: 5px 0;
  text-align: center;
  background-color: #E4EEF5;
  border: solid 1px #DEE8EF;
  border-radius: 0 0 3px 3px;
}

.updateForm__edit--tmp #classID,
.addNewForm__edit--tmp #classID {
  width: 135px;
}

.updateForm__edit--tmp #subject,
.addNewForm__edit--tmp #subject {
  width: 270px;
}

.updateForm__edit--tmp #instractor,
.addNewForm__edit--tmp #instractor {
  width: 270px;
}

.updateForm .updateForm__right,
.updateForm .addNewForm__right,
.addNewForm .updateForm__right,
.addNewForm .addNewForm__right {
  position: sticky;
  top: 0;
}

.updateForm .updateForm__right .updateForm__submit,
.updateForm .updateForm__right .addNewForm__submit,
.updateForm .addNewForm__right .updateForm__submit,
.updateForm .addNewForm__right .addNewForm__submit,
.addNewForm .updateForm__right .updateForm__submit,
.addNewForm .updateForm__right .addNewForm__submit,
.addNewForm .addNewForm__right .updateForm__submit,
.addNewForm .addNewForm__right .addNewForm__submit {
  margin: 40px 0 0 50px;
  display: flex;
  justify-content: center;
}

.updateForm .updateForm__right .updateForm__submit--btn,
.updateForm .updateForm__right .addNewForm__submit--btn,
.updateForm .addNewForm__right .updateForm__submit--btn,
.updateForm .addNewForm__right .addNewForm__submit--btn,
.addNewForm .updateForm__right .updateForm__submit--btn,
.addNewForm .updateForm__right .addNewForm__submit--btn,
.addNewForm .addNewForm__right .updateForm__submit--btn,
.addNewForm .addNewForm__right .addNewForm__submit--btn {
  margin: 0px 15px;
}

.updateForm .updateForm__right .updateForm__submit--btn input[type=submit],
.updateForm .updateForm__right .addNewForm__submit--btn input[type=submit],
.updateForm .addNewForm__right .updateForm__submit--btn input[type=submit],
.updateForm .addNewForm__right .addNewForm__submit--btn input[type=submit],
.addNewForm .updateForm__right .updateForm__submit--btn input[type=submit],
.addNewForm .updateForm__right .addNewForm__submit--btn input[type=submit],
.addNewForm .addNewForm__right .updateForm__submit--btn input[type=submit],
.addNewForm .addNewForm__right .addNewForm__submit--btn input[type=submit] {
  padding: 10px 30px;
  font-size: 15px;
  color: #FFFFFF;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #0071D0;
  opacity: 0.4;
  transition: 0.2s;
}

.updateForm .updateForm__right .updateForm__submit--btn button,
.updateForm .updateForm__right .addNewForm__submit--btn button,
.updateForm .addNewForm__right .updateForm__submit--btn button,
.updateForm .addNewForm__right .addNewForm__submit--btn button,
.addNewForm .updateForm__right .updateForm__submit--btn button,
.addNewForm .updateForm__right .addNewForm__submit--btn button,
.addNewForm .addNewForm__right .updateForm__submit--btn button,
.addNewForm .addNewForm__right .addNewForm__submit--btn button {
  padding: 10px 30px;
  font-size: 15px;
  color: #61819D;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.2);
}

.active {
  right: 0px;
  transition: 0.5s;
}

.filterMW {
  visibility: hidden;
  opacity: 0;
  width: 350px;
  height: 500px;
  position: fixed;
  top: 120px;
  left: 700px;
  transition: 0.3s;
}

.filterMW__head {
  margin-left: 100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 18px 15px;
  border-color: transparent transparent #7FC4FC transparent;
}

.filterMW__main {
  height: 482px;
  background-color: #7FC4FC;
  border-radius: 15px;
  padding: 10px;
}

.filterMW__main--category {
  height: 431px;
  overflow: hidden;
  overflow-y: scroll;
}

.filterMW__main--reset--btn {
  width: 121px;
  height: 31px;
  background-color: #FFF;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}

.filterMW__main--reset--btn:hover {
  opacity: 0.8;
}

.filterMW__main--reset--btn span {
  color: #61819D;
  line-height: 31px;
}

.filterMW__main--active {
  visibility: visible;
  opacity: 1;
}

.form-required {
  color: #d63232;
  /* color: #47b90e; */
}

.form-required-ok {
  color: #47b90e;
}

.add_submit_active {
  opacity: 1;
}

.mgmtList__main__list--detail--graphTmp {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin-top: 20px;
}

.mgmtList__main__list--detail--graphTmp .canvas {
  overflow: hidden;
  width: 350px;
  height: 250px;
  position: relative;
}

.mgmtList__main__list--detail--graphTmp .canvas:hover {
  overflow: visible;
}

.mgmtList__main__list--detail--graphTmp .canvas:hover .canvas__ques {
  display: block;
  opacity: 1;
}

.mgmtList__main__list--detail--graphTmp .canvas__ques {
  box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.2);
  z-index: 10;
  position: absolute;
  right: 350px;
  top: 0;
  width: 350px;
  padding: 10px 15px;
  height: auto;
  border-radius: 20px;
  background-color: #61819D;
  opacity: 0;
}

.mgmtList__main__list--detail--graphTmp .canvas__ques ol {
  padding-left: 15px;
  margin: 0;
  color: #FFF;
}

.mgmtList__main__list--detail--graphTmp .canvas__ques li {
  font-size: 14px;
  margin: 10px 0;
}

.mgmtList__main__list--detail--graphTmp .canvas__ques:before {
  position: absolute;
  top: 50px;
  left: 350px;
  content: "";
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #61819D;
}

