.question-page {
  background-color: #F1F9FF;
  min-height: 100vh;
}

.question__header {
  position: fixed;
  z-index: 20;
  top: 15px;
  left: 15px;
}

.question__header--img img {
  width: 255px;
  height: auto;
}

.quesWrap {
  box-sizing: border-box;
  width: 740px;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  padding: 50px;
}

.quesWrap span {
  color: #555555;
}

.quesWrap__top {
  background-color: #FFF;
  border: solid 1px #EFEFEF;
  border-radius: 10px;
}

.quesWrap__top--info {
  padding: 20px 30px 0 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.quesWrap__top--info--img {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 98px;
  height: 98px;
  border-radius: 50px;
  border: solid 1px #EFEFEF;
}

.quesWrap__top--info--img img {
  width: 98px;
  height: 98px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50px;
}

.quesWrap__top--info--name {
  display: inline;
  margin: 0 auto;
  text-align: center;
}

.quesWrap__top--info--name--class {
  margin-bottom: 14px;
}

.quesWrap__top--info--name--class span {
  font-size: 20px;
  font-weight: bold;
}

.quesWrap__top--info--name--prof span {
  font-size: 16px;
  font-weight: bold;
}

.quesWrap__top--message {
  padding: 0 30px 20px 30px;
}

.quesWrap__top--bar {
  background-color: #0071D0;
  height: 10px;
  border-radius: 9px 9px 0 0;
}

.quesWrap__ques--each {
  box-shadow: 2px 3px 6px rgba(118, 192, 255, 0.2);
  margin-top: 20px;
  background-color: #FFF;
  border: solid 1px #EFEFEF;
  border-radius: 10px;
  display: flex;
}

.quesWrap__ques--each--bar {
  background-color: #2699FA;
  width: 7px;
  border-radius: 9px 0 0 9px;
}

.quesWrap__ques--each--num {
  width: 60px;
  padding: 20px 0;
  text-align: end;
}

.quesWrap__ques--each--num span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.quesWrap__ques--each__block {
  flex: 1;
  padding: 20px 0;
  width: auto;
}

.quesWrap__ques--each__block--ques span {
  font-size: 16px;
}

.quesWrap__ques--each__block--ques input {
  color: #555555;
  width: 285px;
  height: 24px;
  border-radius: 0 0 2px 2px;
  border-bottom: solid 2px #BCE0FD;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
}

.quesWrap__ques--each__block--ques input:focus {
  outline: none;
  border-bottom: solid 2px #2699FA;
}

.quesWrap__ques--each__block--ques .input-type1 {
  margin-top: 8px;
}

.quesWrap__ques--each__block--ques textarea {
  border-radius: 0 0 2px 2px;
  border-bottom: solid 2px #BCE0FD;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #F4FAFF;
  width: 90%;
  height: 70px;
  font-size: 16px;
  color: #555555;
}

.quesWrap__ques--each__block--ques textarea:focus {
  outline: none;
  border-bottom: solid 2px #2699FA;
}

.quesWrap__ques--each__block--value {
  margin-top: 20px;
}

.quesWrap__ques--each__block--value input {
  display: none;
}

.quesWrap__ques--each__block--value--val {
  display: flex;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value {
  width: 40px;
  height: 40px;
  border: solid 1px #707070;
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.1s;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value svg {
  width: 25px;
  height: 25px;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value svg .st0 {
  fill: #505050;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value:hover {
  box-shadow: 2px 3px 6px rgba(118, 192, 255, 0.5);
  background-color: #269bfa9a;
  border: solid 1px #FFF;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value:hover svg .st0 {
  fill: #FFF;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value-clicked {
  box-shadow: 2px 3px 6px rgba(118, 192, 255, 0.5);
  background-color: #2699FA;
  border: solid 1px #FFF;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value-clicked svg .st0 {
  fill: #FFF;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value-clicked:hover {
  background-color: #2699FA;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value1 {
  text-align: center;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value1 svg {
  transform: rotateY(180deg) rotateZ(180deg);
  margin-top: 9px;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value2 {
  text-align: center;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value2 svg {
  transform: rotateY(180deg) rotateZ(-90deg);
  margin: 7px -4px 0px 0px;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value3 {
  text-align: center;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value3 svg {
  transform: rotateY(180deg) rotateZ(-45deg);
  margin: 6px 0 0 3px;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value4 {
  text-align: center;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value4 svg {
  transform: rotateY(180deg) rotateZ(0deg);
  margin: 6px 1px 0 0;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value5 {
  display: flex;
  justify-content: center;
  width: 77px;
  border-radius: 21px;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value5 svg {
  transform: rotateY(180deg) rotateZ(0deg);
  margin-top: 6px;
}

.quesWrap__ques--each__block--value--val--each .valueBtn-value5 svg:first-child {
  margin-right: 3px;
}

.quesWrap__ques--submit {
  text-align: center;
  margin-top: 60px;
}

.quesWrap__ques--submit input {
  background-color: #0071D0;
  border: none;
  height: 60px;
  width: 160px;
  border-radius: 30px;
  font-weight: bold;
  color: #F4FAFF;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.quesWrap__ques--submit input:hover {
  box-shadow: 2px 3px 6px rgba(118, 192, 255, 0.5);
}

.question__time {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  background-color: #004681;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow: 1px 3px 6px rgba(0, 70, 129, 0.6);
}

.question__time--now {
  margin-top: 5px;
  height: 24px;
  line-height: 24px;
}

.question__time--now span {
  font-size: 12px;
  color: #F4FAFF;
}

.question__time--time span {
  font-weight: bold;
  font-size: 16px;
  color: #FFC400;
}

@media screen and (max-width: 1024px) {
  .question__header {
    display: none;
  }

  .question__time {
    bottom: 20px;
    right: 20px;
    top: auto;
    left: auto;
  }
}

@media screen and (max-width: 740px) {
  .question__header {
    display: none;
  }

  .quesWrap {
    padding: 10px;
    width: 100%;
  }

  .quesWrap__top--info--img {
    position: static;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  .quesWrap__ques--each__block {
    padding: 15px 5px 15px 0;
  }

  .quesWrap__ques--each__block--ques input {
    display: block;
    width: 90%;
  }

  .quesWrap__ques--each--num {
    padding: 15px 0;
    width: 40px;
    text-align: center;
  }

  .quesWrap__ques--each--num span {
    margin: 0;
  }

  .quesWrap__ques--submit {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 374px) {
  .quesWrap__ques--each__block--value--val--each .valueBtn-value {
    width: 33px;
    height: 33px;
    margin-right: 9px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value svg {
    width: 22px;
    height: 22px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value1 {
    text-align: center;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value1 svg {
    transform: rotateY(180deg) rotateZ(180deg);
    margin-top: 7px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value2 {
    text-align: center;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value2 svg {
    transform: rotateY(180deg) rotateZ(-90deg);
    margin: 6px -3px 0px 0px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value3 {
    text-align: center;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value3 svg {
    transform: rotateY(180deg) rotateZ(-45deg);
    margin: 4px 0 0 2px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value4 {
    text-align: center;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value4 svg {
    transform: rotateY(180deg) rotateZ(0deg);
    margin: 4px 1px 0 0;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value5 {
    display: flex;
    justify-content: center;
    width: 60px;
    border-radius: 21px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value5 svg {
    transform: rotateY(180deg) rotateZ(0deg);
    margin-top: 5px;
  }

  .quesWrap__ques--each__block--value--val--each .valueBtn-value5 svg:first-child {
    margin-right: 3px;
  }

  .question__time {
    position: fixed;
    z-index: 10;
    bottom: 15px;
    right: 10px;
    background-color: #004681;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 1px 3px 6px rgba(0, 70, 129, 0.6);
  }

  .question__time--now {
    margin-top: 0px;
  }

  .question__time--now span {
    font-size: 12px;
    color: #F4FAFF;
  }

  .question__time--time {
    margin-top: -1px;
  }

  .question__time--time span {
    font-weight: bold;
    font-size: 16px;
    color: #FFC400;
  }
}

body {
  margin: 0px;
  box-sizing: border-box;
}

.StdTemp {
  background-color: #F4FAFF;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: grid;
  grid-template: "header header header" 52px "category main ranking" calc(100vh - 52px)/200px calc(100vw - 450px) 250px;
}

.headerBlock {
  grid-area: header;
}

.categoryBlock {
  grid-area: category;
}

.mainBlock {
  grid-area: main;
}

.rankBlock {
  grid-area: ranking;
  background-color: #DEE8EF;
  z-index: 10;
}

.searchBlock {
  margin-left: 5px;
  border-radius: 0 0 15px 15px;
  padding: 0px 20px;
  box-shadow: 3px 2px 12px 2px rgba(53, 53, 58, 0.3);
  display: none;
  background-color: #0071D0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 52px;
  z-index: 10;
  transition: 0.4s;
}

.searchBlock img {
  width: 140px;
  height: auto;
  margin-top: 8px;
}

.searchBlock--hide {
  top: -52px;
  opacity: 0.4;
}

.switchBlock {
  display: none;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  height: 100px;
  z-index: 10px;
  transition: 0.4s;
}

.switchBlock--hide {
  bottom: -100px;
  opacity: 0.4;
}

@media screen and (max-width: 1200px) {
  .StdTemp {
    grid-template: "header header" 52px "category main" calc(100vh - 52px)/200px calc(100vw - 200px);
  }
}

@media screen and (max-width: 1024px) {
  .StdTemp {
    grid-template: "main" 100vh/100vw;
  }

  .searchBlock {
    display: block;
  }

  .switchBlock {
    display: block;
  }
}

.headerBlock {
  margin: 0 20px;
  padding: 0px 20px;
  background-color: #0071D0;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  box-shadow: 3px 2px 12px 2px rgba(53, 53, 58, 0.3);
  z-index: 20;
}

.headerBlock__logo {
  padding-top: 8px;
}

.headerBlock__logo img {
  width: 147px;
}

.headerBlock__opt {
  display: flex;
  margin-right: 20px;
}

.headerBlock__opt--each {
  margin: 13px 15px;
}

.headerBlock__opt--each img {
  width: 26px;
  height: 26px;
}

.categoryBlock {
  position: relative;
  top: 0;
  left: 0;
}

.categoryBlock__ttl {
  margin: 20px 0 10px 45px;
}

.categoryBlock__ttl span {
  font-size: 15px;
  color: #61819D;
}

.categoryBlock__list {
  height: calc(100vh - 106px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.categoryBlock__list::-webkit-scrollbar {
  display: none;
}

.categoryBlock__list--each {
  padding: 6px 10px;
  cursor: pointer;
}

.categoryBlock__list--each span {
  padding: 0 4px;
  display: block;
  text-align: center;
  width: 145px;
  height: 29px;
  font-size: 13px;
  border-radius: 15px;
  line-height: 29px;
  background-color: #7FC4FC;
  color: #FFF;
  font-weight: normal;
  box-sizing: border-box;
  transition: 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainBlock {
  padding-top: 40px;
  overflow-y: scroll;
  padding-bottom: 90px;
}

.mainBlock .listLine {
  margin-bottom: 25px;
}

.mainBlock .listLine__categoryTtl {
  display: inline-block;
  background-color: #0071D0;
  height: 29px;
  width: auto;
  min-width: 140px;
  border-radius: 15px;
  padding: 0 20px;
  line-height: 29px;
  text-align: center;
}

.mainBlock .listLine__categoryTtl span {
  font-size: 15px;
  color: #FFF;
}

.mainBlock .listLine__cardBlock {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-top: 15px;
}

.mainBlock .listLine__cardBlock::-webkit-scrollbar {
  display: none;
}

.mainBlock .listLine--each {
  width: 186px;
}

.sbjProfCard {
  cursor: pointer;
  background-color: #FFF;
  box-sizing: border-box;
  width: 166px;
  height: 187px;
  border: solid 1px #E0E0E0;
  border-radius: 10px;
  margin-right: 20px;
  transition: 0.3s;
  overflow: hidden;
}

.sbjProfCard:hover {
  /* box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1); */
  /* transform: translateY(-3px); */
  transform: translateY(-5px);
}

.sbjProfCard__profImage {
  width: 162px;
  height: 110px;
  border-radius: 9px 9px 0 0;
}

.sbjProfCard__profImage img {
  width: 164px;
  height: 110px;
  border-radius: 9px 9px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.sbjProfCard__info {
  width: 164px;
  height: 76px;
}

.sbjProfCard__info__top {
  width: 164px;
  height: 34px;
  display: flex;
}

.sbjProfCard__info__top--val {
  width: 32px;
  text-align: center;
}

.sbjProfCard__info__top--val--pentagon {
  margin: 5px auto;
  position: relative;
  height: 0;
  width: 0;
  border-width: 0 12px 10px;
  border-style: solid;
  border-color: transparent transparent #4472A7;
  text-align: center;
}

.sbjProfCard__info__top--val--pentagon:after {
  content: "";
  position: absolute;
  width: 14px;
  border-width: 14px 5px 0;
  border-style: solid;
  border-color: #4472A7 transparent;
  top: 10px;
  left: -12px;
}

.sbjProfCard__info__top--val--pentagon span {
  font-size: 10px;
  color: #FFF;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  top: 14px;
  transform: translate(-46%, -49%);
}

.sbjProfCard__info__top--name {
  width: 130px;
  margin-left: 4px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sbjProfCard__info__top--name span {
  line-height: 34px;
  font-size: 14px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sbjProfCard__info__bottom {
  height: 38px;
  padding: 0 4px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.sbjProfCard__info__bottom--category {
  height: 14px;
  display: inline-block;
  border: solid 1px #4472A7;
  line-height: 11px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.sbjProfCard__info__bottom--category span {
  font-size: 10px;
  color: #707070;
  line-height: 14px;
  padding: 2px 3px;
}

.switchBlockPC {
  height: 40px;
  position: fixed;
  bottom: 50px;
  left: 45%;
  margin-left: -100px;
  line-height: 40px;
  display: flex;
  z-index: 30;
  border-radius: 15px;
  opacity: 0.9;
  transition: 0.4s;
  box-shadow: 3px 2px 12px 2px rgba(53, 53, 58, 0.4);
}

.switchBlockPC__btn {
  background-color: #7FC4FC;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.2s;
}

.switchBlockPC__btn span {
  color: #FFF;
}

.switchBlockPC__btn--left {
  padding-left: 30px;
  border-radius: 15px 0 0 15px;
}

.switchBlockPC__btn--right {
  padding-right: 30px;
  border-radius: 0 15px 15px 0px;
}

.switchBlockPC__btn:hover {
  background-color: #004681;
}

.switchBlockPC__btn--active {
  background-color: #004681;
}

.switchBlockPC:hover {
  opacity: 1;
}

.switchBlockPChide {
  bottom: -40px;
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .mainBlock {
    padding-top: 70px;
  }

  .listLine__categoryTtl {
    margin-left: 15px;
  }

  .listLine__cardBlock {
    padding-left: 10px;
  }

  .listLine__cardBlock--each:last-child .sbjProfCard {
    margin-right: 15px;
  }
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #F1F9FF;
  z-index: 999;
}

#loading #percent {
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
  color: #0071D0;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
}

#loading #gauge {
  width: 0;
  height: 5px;
  background: #0071D0;
  position: absolute;
  top: 60%;
}

.sbjProfCard--unregistered {
  height: 187px;
}

.sbjProfCard--unregistered span {
  display: inline-block;
  margin-top: 60px;
}

#ClassProf-detail {
  width: 740px;
  margin: 0 auto;
}

.detail__infoPC {
  display: flex;
}

.detail__infoPC--image {
  width: 122px;
  height: 122px;
  border-radius: 10px;
  margin-right: 30px;
}

.detail__infoPC--image img {
  width: 122px;
  height: 122px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.detail__infoPC--data--ttl {
  display: flex;
  height: 30px;
  margin-bottom: 15px;
}

.detail__infoPC--data--ttl--pentagon {
  margin: 5px;
  position: relative;
  height: 0;
  width: 0;
  border-width: 0 12px 10px;
  border-style: solid;
  border-color: transparent transparent #4472A7;
  text-align: center;
}

.detail__infoPC--data--ttl--pentagon:after {
  content: "";
  position: absolute;
  width: 14px;
  border-width: 14px 5px 0;
  border-style: solid;
  border-color: #4472A7 transparent;
  top: 10px;
  left: -12px;
}

.detail__infoPC--data--ttl--pentagon span {
  font-size: 10px;
  color: #FFF;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  top: 14px;
  transform: translate(-46%, -49%);
}

.detail__infoPC--data--ttl--name {
  line-height: 30px;
  margin-top: 2px;
}

.detail__infoPC--data--ttl--name span {
  font-weight: bold;
  font-size: 18px;
}

.detail__infoPC--data--category {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.detail__infoPC--data--category span {
  background-color: #FFF;
  padding: 0px 4px;
  border: solid 1px #4472A7;
  border-radius: 4px;
  font-size: 14px;
  color: #707070;
  margin-right: 13px;
}

.detail__infoPC--data--inCharge span {
  font-size: 15px;
}

.detail__infoPC--data--inCharge .name-inCharge {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s;
}

.detail__infoPC--data--inCharge .name-inCharge:hover {
  color: #61819D;
}

.detail__infoSP {
  display: none;
  text-align: center;
}

.detail__infoSP--img {
  margin: 15px auto;
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.detail__infoSP--img img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.detail__infoSP--ttl {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 2px;
  margin-bottom: 15px;
}

.detail__infoSP--ttl--pentagon {
  margin: 5px;
  position: relative;
  height: 0;
  width: 0;
  border-width: 0 12px 10px;
  border-style: solid;
  border-color: transparent transparent #4472A7;
  text-align: center;
}

.detail__infoSP--ttl--pentagon:after {
  content: "";
  position: absolute;
  width: 14px;
  border-width: 14px 5px 0;
  border-style: solid;
  border-color: #4472A7 transparent;
  top: 10px;
  left: -12px;
}

.detail__infoSP--ttl--pentagon span {
  font-size: 10px;
  color: #FFF;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  top: 14px;
  transform: translate(-46%, -49%);
}

.detail__infoSP--ttl--name {
  margin-top: 2px;
  line-height: 30px;
}

.detail__infoSP--ttl--name span {
  font-weight: bold;
  font-size: 18px;
}

.detail__infoSP--category {
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
}

.detail__infoSP--category span {
  background-color: #FFF;
  padding: 4px 4px;
  border: solid 1px #4472A7;
  border-radius: 4px;
  font-size: 14px;
  color: #707070;
  margin-right: 13px;
  margin-bottom: 13px;
}

.detail__infoSP--inCharge span {
  font-size: 15px;
}

.detail__infoSP--inCharge .name-inCharge {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s;
}

.detail__infoSP--inCharge .name-inCharge:hover {
  color: #61819D;
}

.detail__value {
  margin-top: 30px;
  margin-bottom: 20px;
}

.detail__value span {
  color: #707070;
}

.detail__value li {
  color: #707070;
}

.detail__value--top {
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 20px;
}

.detail__value--graph {
  display: flex;
}

.detail__value--graph--pentagon {
  width: 270px;
  background-color: #EDEDED;
  margin-right: 13px;
  border-radius: 15px;
  padding: 15px;
}

.detail__value--graph--question {
  background-color: #EDEDED;
  border-radius: 15px;
  padding: 10px;
}

.detail__value--graph--question ol {
  padding-left: 20px;
}

.detail__value--graph--question ol li {
  margin-bottom: 12px;
  font-size: 14px;
}

.detail__value--graph--question span {
  font-weight: bold;
  line-height: 20px;
}

.detail__value--graph--question .easy-mark {
  display: flex;
}

.detail__value--graph--question .easy-mark .mark {
  margin-right: 10px;
  text-align: center;
  line-height: 20px;
  background-color: #4472A7;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.detail__value--graph--question .easy-mark .mark span {
  color: #FFF;
  font-size: 14px;
  margin-right: 1px;
}

.detail__value--comment {
  background-color: #EDEDED;
  border-radius: 15px;
  margin-top: 13px;
  padding: 15px;
}

.detail__value--comment span {
  font-weight: bold;
}

.detail__value--comment--list {
  margin-top: 12px;
}

.detail__value--comment--list ul {
  padding-left: 20px;
}

.detail__value--comment--list li {
  margin-bottom: 12px;
  font-size: 14px;
}

.detail__about {
  background-color: #EDEDED;
  border-radius: 15px;
  margin-top: 13px;
  padding: 15px;
}

.detail__about--ttl span {
  font-weight: bold;
  color: #707070;
}

.detail__about--message {
  margin-top: 12px;
}

.detail__about--message span {
  color: #707070;
}

.detail__classInCharge {
  background-color: #EDEDED;
  border-radius: 15px;
  margin-top: 13px;
  padding: 15px;
}

.detail__classInCharge--ttl span {
  font-weight: bold;
  color: #707070;
}

.detail__classInCharge--sbj {
  margin-top: 12px;
}

.detail__classInCharge--sbj .detail__infoPC--data--ttl {
  cursor: pointer;
}

.detail__classInCharge--sbj .detail__infoPC--data--ttl--name span {
  font-size: 16px;
}

@media screen and (max-width: 599px) {
  #ClassProf-detail {
    width: auto;
    margin: 0 auto;
    padding: 0 10px;
  }

  .detail__infoPC {
    display: none;
  }

  .detail__infoSP {
    display: block;
  }

  .detail__value--graph {
    display: block;
  }

  .detail__value--graph--pentagon {
    width: auto;
    margin: 0;
    margin-bottom: 13px;
  }

  .detail__infoSP--category {
    justify-content: center;
  }
}

