$main-bg: #F4FAFF;

$bg-color-5: #004681;
$bg-color-4: #0071D0;
$bg-color-3: #61819D;
$bg-color-2: #DEE8EF;
$bg-color-1: #E2F2FF;

$bg-color-txtbox: #E4EEF5;

$font-color-1: #0071D0;
$font-color-2: #61819D;
$font-color-3: #FFFFFF;
