@import "V2colorFont";

.managementWrapper{
  padding-left:50px;
  margin-top: 20px;
  .mainHead{
    display: flex;
    align-items: flex-end;
    height: 38px;
    &__switch{
      display: flex;
      &__btn{
        height: 30px;
        width: auto;
        background-color: #7FC4FC;
        cursor: pointer;
        &:hover{
          background-color: $bg-color-5;
        }
        span{
          color: $font-color-3;
          line-height: 30px;
        }
        &--class{
          border-radius: 15px 0 0 0;
          padding: 0 15px 0 20px;
        }
        &--prof{
          border-radius: 0 15px 0 0;
          padding: 0 20px 0 15px;
        }
        &--active{
          background-color: $bg-color-5;
        }
      }
    }
    &__opt{
      margin-left:42px;
      display: flex;
      align-items: flex-end;
      padding-bottom: 8px;
      &--search{
        input{
          width: 200px;
          height: 20px;
          outline: 0;
          border: solid 0px;
          font-size: 15px;
          color: $font-color-2;
          border-bottom: solid 1px #E7EEF4;
          background-color: $main-bg;
          padding: 0;
        }
        input::-webkit-search-cancel-button {
          -webkit-appearance: none;
       }
      }
      &--filter{
        display: flex;
        height: 24px;
        cursor: pointer;
        padding: 0 5px;
        margin: 0 3px;
        margin-right: 100px;
        &--name{
          height: 24px;
          margin-right: 10px;
          span{
            color: $font-color-2;
            line-height: 24px;
          }
        }
        .filter-logo{
          width: atuo;
          height: 8px;
          margin: 8px 0;
          img{
            width: auto;
            height: 8px;
          }
        }
        .filter-logo-img-active{
          transform: rotateX( 180deg);
        }
      }
      &--tmp{
        display: flex;
        height: 24px;
        cursor: pointer;
        padding: 0 5px;
        margin: 0 3px;
        &--logo{
          width: 18px;
          height: auto;
          margin: 3px 0;
          img{
            width: 18px;
            height: 18px;
          }
        }
        &--name{
          height: 24px;
          margin-left: 10px;
          span{
            color: $font-color-2;
            line-height: 24px;
          }
        }
      }
      &--add{
        display: flex;
        height:  26px;
        width: 26px;
        cursor: pointer;
        padding: 0 5px;
        margin: 0 3px 4px 5px;
        background-color: $bg-color-4;
        color: $font-color-3;
        border-radius: 13px;
        box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.4);
        overflow: hidden; /*はみ出る部分を隠しておきます*/
        position: relative;
        transition: all .3s;
        &:hover{
          width: 140px;
        }
        &::before{
          display: block;
          content: "New Addition";
          font-size: 16px;
          width: 121px;
          height: 26px;
          border-radius: 25px;
          line-height: 26px;
          position: absolute;
          left: 16px; /*左のほうにずらして隠しておきます*/
          margin: 0 5px;
          background: $bg-color-4;
          transition: all 0.4s;
          opacity: 0;
        }
        &:hover::before{
          left: 20px;
          opacity: 1;
        }
        &--logo{
          width: 16px;
          height: auto;
          margin: 5px 0;
          img{
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
  .mgmtList{
    &__head{
      width: 965px;
      padding: 7px 0 7px 26px;
      border-radius: 0 10px 0 0;
      background-color: $bg-color-1;
      &__menu{
        display: flex;
        &--child{
          padding: 6px 16px;
          span{
            display: inline-block;
            color: $font-color-2;
          }
        }
        &--id{
          span{
            width: 65px;
            
          }
        }
        &--subject{
          span{
            width: 235px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &--mail{
          span{
            width: 235px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &--instructor{
          span{
            width: 180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &--category{
          span{
            width: 230px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &--action{
          text-align: center;
          span{
            width:69px;
          }
        }
      }
    }

    &__main{
      width: 965px;
      overflow-y: scroll;
      height: calc(100vh - 170px);
      &__list{
        display: grid;
        cursor: pointer;
        grid-template:
          "checkBox list  " 
          "detail   detail" 1fr
          /  auto   1fr;
        border-bottom: solid 1px #E7EEF4;
        //&:hover{
        //  background-color: $bg-color-1;
        //}
        &--check{
          grid-area: checkBox;
          padding: 10px 0 9px 8px;
          input{
            margin: 0;
            width: 18px;
            height: 18px;
            margin: 9px 0;
            outline: $bg-color-5;
          }
        }
        &--child{
          grid-area: list;
          padding: 10px 0 9px 0;
          display: flex;
          z-index: 1000;
          &--cont{
            padding: 6px 16px;
            span{
              display: inline-block;
              color: $font-color-2;
            }
          }
          &--id{
            span{
              width: 65px;
            }
          }
          &--subject{
            span{
              width: 235px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &--mail{
            span{
              width: 235px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &--instructor{
            span{
              width: 180px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &--category{
            span{
              width: 230px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &--action{
            text-align: center;
            width: 101px;
            padding: 4px 0;
            .actionBtn{
              width: 28px;
              height: 28px;
              background-color: $bg-color-3;
              border-radius: 14px;
              text-align: center;
              transition: all .3s;
              overflow: hidden;
              margin: 0 auto;
              &__btn{
                line-height: 33px;
                height: 28px;
                text-align: center;
                display: flex;
                position: relative;
                &--display .mgmt-displayBtn{
                  height: 17px;
                  width: auto;
                  opacity: 1;
                  position: absolute;
                  top: 6px;
                  left: 12px;
                }
                .mgmt-archiveBtn, .mgmt-editBtn, .mgmt-deleteBtn{
                  height: 18px;
                  width: auto;
                  opacity: 0;
                  transition: .3s;
                  padding: 0 8px;
                }
              }
            }
          }
        }
        &--detail{
          grid-area: detail;
          display: none;
          background-color: $main-bg;
          cursor: default;
          padding: 0 0 15px 30px;
          display: flex;
          &--tmp{
            border-left: solid 2px $bg-color-5;
            padding: 0 10px;
            margin-top: 30px;
            .list-detail-ttl{
              span{
                font-size: 14px;
                color: $font-color-2;
              }
            }
            .list-detail-show{
              margin-top: 10px;
              span{
                color: $font-color-1;
                font-size: 16px;
              }
              .professor-image{
                width: 181px;
                height: 136px;
                object-fit: cover;
                object-position:top;
                border-radius: 4px;
              }
              .category-span{
                cursor: pointer;
                margin: 5px 5px 5px 0;
                border: 2px solid $bg-color-4;
                color: $font-color-1;
                background-color: #F1F9FF;
                display: inline-block;
                height: 40px;
                line-height: 40px;
                padding: 0 5px;
                border-radius: 5px;
              }
              .inCharge{
                display: block;
                margin-bottom: 10px;
                cursor: pointer;
                &:hover{
                  color: $bg-color-5;
                }
              }
            }
          }
          &--graphTmp{
            width: 350px;
            height: 250px;
            border-radius: 15px;
            margin-top: 20px;
          }
          &--left{
            width: 400px;
          }
          &--right{
            margin-left: 50px;
            .flex{
              display: flex;
              .mgmtList__main__list--detail--tmp{
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }
}
.mgmtList__main__list--js{
  position:sticky;
  top: 0;
}
.mgmtList__main__list--bgchanged{
  background-color: $bg-color-1;
}

  .mgmtList--underSpace{
    height: 100px;
  }
.addNewForm{
  right: -900px;
}
.updateForm, .addNewForm{
  position: fixed;
  top: 134px;
  width: 900px;
  height: 584px;
  border-radius: 15px;
  //top: 230px;
  //sbox-shadow: -2px 3px 15px 0px rgba(97, 129, 157, 0.3);
  filter: drop-shadow(-2px 3px 10px rgba(97, 129, 157, 0.3));
  z-index: 10000;
  //right: -900px;
  transition: .5s;
  &__head{
    height: 34px;
    display: flex;
    &__ttl{
      display: flex;
      height: 34px;
      width: 300px;
      border-radius: 15px 15px 0 0;
      background-color: $bg-color-5;
      justify-content: center;
      &--logo{
        height: 34px;
        width: 18px;
        padding: 8px 0;
        img{
          height: 18px; 
          width: 18px;
        }
      }
      &--ttl{
        height: 34px;
        margin-left: 10px;
        .txt-span{
          color: $font-color-3;
          line-height: 34px;
          font-size: 16px;
        }
      }
    }
  }
  &__wrapper{
    height: 550px;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 0 0 0 15px;
    //box-shadow: -2px 3px 15px 0px rgba(97, 129, 157, 0.3);
    padding: 30px;
    overflow: hidden;
    overflow-y: scroll;
  }
  &__edit{
    &--flex{
      display: flex;
      &--left{
        margin-right: 30px;
        
      }
    }
    &--tmp{
      margin-bottom: 20px;
      max-width: 435px;
      label{
        display: block;
        color: $font-color-2;
        font-size: 14px;
        margin-bottom: 5px;
      }
      input::placeholder{
        color: $font-color-2;
        opacity: .8;
        font-size: 15px;
      }
      .updateForm__edit--input, .addNewForm__edit--input{
        display: block;
        background-color: #E4EEF5;
        border: solid 1px #DEE8EF;
        padding: 10px 16px;
        font-size: 16px;
        color: #61819D;
        border-radius: 3px;
        width: 270px;
        height: auto;
      }
      &--category{
        max-width: 435px;
      }
      .prof-image{
        display: none;
      }
      .profImg-preview{
        object-fit: cover;
        object-position: top;
      }
      .edit-uploadImg-btn{
        width: 181px;
        height: auto;
        padding: 5px 0;
        text-align: center;
        background-color: #E4EEF5;
        border: solid 1px #DEE8EF;
        border-radius: 0 0 3px 3px;
      }
      #classID{
        width: 135px;
      }
      #subject{
        width: 270px;
      }
      #instractor{
        width: 270px;
      }
    }
  }
  .updateForm__right, .addNewForm__right{
    position: sticky;
    top: 0;
    .updateForm__submit, .addNewForm__submit{
      margin: 40px 0 0 50px;
      display: flex;
      justify-content: center;
      &--btn{
        margin: 0px 15px;
        input[type="submit"]{
          padding: 10px 30px;
          font-size: 15px;
          color: $font-color-3;
          appearance: button;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          background-color: $bg-color-4;
          opacity: .4;
          transition: .2s;
        }
        button{
          padding: 10px 30px;
          font-size: 15px;
          color: $font-color-2;
          appearance: button;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          background-color: #fff;
          box-shadow: 0px 3px 10px 0px rgba(0, 60, 111, 0.2);
        }
      }
    }
  }
  /* &--professor{
    overflow-y: scroll;
    .updateForm__edit--tmp--category{
      height: auto;
      max-width: 435px;
      overflow: visible;
      overflow-y: visible;
    }
  } */
}
.active{
  right: 0px;
  transition: .5s;
}

.filterMW{
  visibility: hidden;
  opacity: 0;
  width: 350px;
  height: 500px;
  position: fixed;
  top: 120px;
  left: 700px;
  transition: .3s;
  &__head{
    margin-left: 100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 18px 15px;
    border-color: transparent transparent #7FC4FC transparent;
  }
  &__main{
    height: 482px;
    background-color: #7FC4FC;
    border-radius: 15px;
    padding: 10px;
    &--category{
      height: 431px;
      overflow: hidden;
      overflow-y: scroll;
    }
    &--reset{
      &--btn{
        width: 121px;
        height: 31px;
        background-color: #FFF;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        margin-left: auto;
        &:hover{
          opacity: .8;
        }
        span{
          color: $font-color-2;
          line-height: 31px;
        }
      }
    }
  }
}
.filterMW__main--active{
  visibility: visible;
  opacity: 1;
}


.form-required{
  color:#d63232;
  /* color: #47b90e; */
}


.form-required-ok{
  color: #47b90e;
}

.add_submit_active{
  opacity: 1;
}