@import "colorFont";

.listProf{
  height:1000px;
  &__header{
    height: 46px;
    width: 100%;
    background-color: $bg-color-2;
    position: fixed;
    &--table{
      line-height: 46px;
      height: 46px;
      border-spacing: 0;
      tr{
        th{
          font-weight: normal;
          font-size: 16px;
          padding: 0;
        }
        .prof-name{
          min-width: 180px;
          height: 46px;
          background-color: $bg-color-2;
          text-align: center;
        }
        .prof-email{
          min-width: 240px;
          height: 46px;
          background-color: $bg-color-3;
          text-align: center;
        }
        .prof-category{
          min-width: 180px;
          height: 46px;
          background-color: $bg-color-2;
          text-align: center;
        }
      }
    }
  }
  &__mainTable{
    padding-top: 46px;
    width: 100%;
    &__list{
      border-spacing: 0;
      &--each{
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        &:hover{
          .prof-name-get, .prof-category-get{
            background-color: #EAEAEA;
          }
          .prof-email-get{
            background-color: #d9d9d9;
          }
        }
        tr{
          td{
            font-weight: normal;
            font-size: 16px;
            padding: 0;
          }
          .prof-name-get{
            min-width: 180px;
            height: 40px;
            background-color: $bg-color-2;
            div{
              padding: 0 15px;
            }
          }
          .prof-email-get{
            min-width: 240px;
            height: 40px;
            background-color: $bg-color-3;
            div{
              padding: 0 15px;
            }
          }
          .prof-category-get{
            min-width: 180px;
            height: 40px;
            background-color: $bg-color-2;
            div{
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
}
