.Stdshow_tmp{
  display: grid;
  grid-template: 
    "rightCont ... showWrapper ... ranking" calc(100vh - 52px)
    / 250px 1fr 740px 1fr 250px;
}

.Stdshow_tmp{
  .rightCont{
    grid-area: rightCont;
    background-color: $bg-color-2;
  }
  .showWrapper{
    grid-area: showWrapper;
    background-color: $main-bg;

    .showTemp{
      &__top{
        margin-top: 30px;
        display: flex;
        &--right{
          .showTemp--profImage{
            width: 122px;
            height: 122px;
            border-radius: 10px;
            img{
              width: 122px;
              height: 122px;
              border-radius: 10px;
              object-fit: cover;
            }
          }
        }
        &--left{
          &--top{
            margin-bottom: 5px;
            .showTemp__subjProf--name{
              .showTemp-ttl{
                line-height: 40px;
              }
            }
            .showTemp-ttl{
              font-size: 20px;
              font-weight: bold;
            }
          }
          margin-left: 30px;
          &--center{
            margin-bottom: 15px;
            .showTemp__category{
              display: flex;
              &--each{
                margin-right: 10px;
                display: inline-block;
                border: solid 2px #4472A7;
                border-radius: 7px;
                padding: 0px 7px;
                span{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  .ListRanking{
    grid-area: ranking;
    background-color: $bg-color-2;
  }
}
